= form_for @conference_room do |f|
  -if @conference_room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@conference_room.errors.count, "error")} prohibited this conference_room from being saved:"
      %ul
        - @conference_room.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :capacity
    = f.number_field :capacity
  .field
    = f.label :location
    = f.text_field :location
  .actions
    = f.submit 'Save'
